version: '3'
services:
  smtp:
    image: registry.gitlab.com/ix.ai/smtp@sha256:4b02e812a0158c43ade994b01c083c0da890ff09b9a05a3718affc53d425f793
    container_name: smtp
    restart: always
    ports:
     - "25:25"
    environment:
     # # MUST start with : e.g RELAY_NETWORKS=:192.168.0.0/24:10.0.0.0/16
     # # if acting as a relay this or RELAY_DOMAINS must be filled out or incoming mail will be rejected
     # - RELAY_NETWORKS= :192.168.0.0/24
     # # what domains should be accepted to forward to lower distance MX server.
     # - RELAY_DOMAINS= <domain1> : <domain2> : <domain3>
     # # To act as a Gmail relay
     # - GMAIL_USER=
     # - GMAIL_PASSWORD=
     # # For use with Amazon SES relay
     # - SES_USER=
     # - SES_PASSWORD=
     # - SES_REGION=
     # # if provided will enable TLS support
     # - KEY_PATH=
     # - CERTIFICATE_PATH=
     # # the outgoing mail hostname
     # - MAILNAME=
     # # set this to any value to disable ipv6
     # - DISABLE_IPV6=
     # # Generic SMTP Relay
     # - SMARTHOST_ADDRESS=
     # - SMARTHOST_PORT=
     # - SMARTHOST_USER=
     # - SMARTHOST_PASSWORD=
     # - SMARTHOST_ALIASES=
     # # if provided will enable DKIM support
     # - DKIM_KEY_PATH=
